.nav-item{
    font-family: $raleway;
    font-size: $x-large;
    font-style: $bold;
    right: 10px;
}

.footer-content{
    font-family: $old-standard;
    color: $isabelline;
}

.footer__title{
    font-size: $xx-large;
    font-style: $bold;
}

.footer__subtitle{
    font-size: $x-large;
    font-style: $regular;
}